{% extends "base.html" %}
<style>
    #b1 {
        border: 0.123em plum solid;
        padding: 8px 30px;
        background: linear-gradient(-54deg, purple, rgb(3, 3, 160));
        border-radius: 15px;
        color: whitesmoke;
        box-shadow: 3.5px 3.5px purple;
        transition: 0.5s;
    }
    
    #b1:hover {
        opacity: 0.84;
    }
    
    #b1:active {
        box-shadow: -1px -1px blue;
        transition: 0.5s;
        background-color: blue;
        color: gray;
        opacity: 0.8;
    }
</style>