{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans "Sign Out" %}{% endblock %} {% block content %}

<div class="container">
    <div class="log-box">

        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %} {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
            <button type="submit">{% trans 'Sign Out' %}</button>
        </form>

    </div>
</div>

<style>
    footer {
        position: absolute!important;
        bottom: 0!important;
        left: 0!important;
    }
    
    .log-box {
        box-shadow: 0 0 10px 3px gray;
        width: fit-content;
        margin: 0 auto;
        padding: 40px;
        border-radius: 10px;
    }
    
    body {
        display: flex;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
    }
</style>


{% endblock %}