{% extends "Client/base.html" %}{% block content %}
<style>
    h1 {
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    .res-box {
        margin: 100px 0;
    }
    
    .card {
        border-radius: 20px;
        overflow: hidden;
    }
    
    .card:hover {
        box-shadow: 0 0 5px 2px gray;
        transition: 0.3s;
        border: 0;
    }
    
    .card
</style>

<div class="container">
    <div class="res-box">
        <h1>Available Delivery Partner</h1>
        <div class="row" style="margin: 40px 0;">
            {% for r in ag %}
            <div class="col-lg-4">
                <div class="card">
                    <a href="{%  url 'agent-profile' r.pk %}" style="color:black;text-decoration:none">
                        <div class="card-img-top"><img src="{{ r.pic.url }}" style="height: 300px; object-fit: cover; width: -webkit-fill-available;"></div>
                        <div class="card-body">
                            <div><span style="font-size:25px;">{{ r.name }} </span> <br>{% if r.email %}<span style="font-size:15px;">{{ r.email }} </span>{% endif %}<br>{% if r.phone %}
                                <span style="font-size:15px;">{{ r.phone }} </span>{% endif %}<br>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}