{% extends "Client/base.html" %} {% block content %}
<div class="container">
    <div class="men-box">
        <h1 style="text-align: center;">Add Your Menu Here</h1>
        <div class="links">
            <a href="{% url 'res-profile' res.pk %}">View Restaurant</a>
            <a href="{% url 'menu' res.pk %}">View Menu</a>
        </div>

        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} {% for f in form %}
                <div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-4">
                            {{ f.label_tag }}
                        </div>
                        <div class="col-lg-8">
                            {{ f }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <button type="submit" style="margin: 20px auto;">Submit</button>
            </form>
        </div>
        <div>{% if form.errors %}<br> &nbsp Your request to create a menu has been denied because the form is not valid {{ form.errors }} {% endif %}</div>
        <div>{% if is_submitted %}
            <script>
                alert("Menu item created")
            </script>{% endif %}
        </div>
    </div>
</div>

<style>
    body {
        background-image: linear-gradient(to bottom, rgba(41, 41, 41, 0.52), rgba(33, 33, 33, 0.73)), url('/media/frontend-images/home.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    
    .men-box {
        margin: 100px 0;
        border-radius: 10px;
        box-shadow: 0 0 10px 3px gray;
        width: fit-content;
        padding: 40px;
        backdrop-filter: blur(10px);
    }
    
    .container {
        display: flex;
        justify-content: center;
    }
    
    .men-box input {
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 10px;
    }
    
    .men-box .links {
        margin: 0 auto;
        width: fit-content;
        color: black;
    }
    
    .men-box a {
        margin: 0 10px;
        color: white;
        text-decoration: underline;
    }
</style>
{% endblock %}