{% extends "Client/base.html" %}{% block content %}

<div class="container">
    <div class="edit-box">
        <h1 style="text-align: center;">Edit Menu Item</h1>
        <div class="links" style="margin-bottom: 40px;">
            <a href="{% url 'res-profile' object.res.pk %}">Back to Restaurant</a>
            <a href="{% url 'menu' object.pk %}">Back to Menu</a>
        </div>
        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} {% for f in form %}
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-4">
                        {{ f.label_tag }}
                    </div>
                    <div class="col-lg-8">
                        {{ f }}
                    </div>
                </div>
                {% endfor %}
                <div style="margin-top: 20px; display: flex; justify-content: center;"><button id="b1" type="submit">Submit</button></div>
            </form>
        </div>
    </div>
</div>

<style>
    body {
        background-image: linear-gradient(to bottom, rgba(41, 41, 41, 0.52), rgba(33, 33, 33, 0.73)), url('/media/frontend-images/home.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    
    .edit-box {
        margin: 100px 0;
        backdrop-filter: blur(10px);
        padding: 50px;
        border-radius: 10px;
        width: 800px;
        box-shadow: 0 0 10px 3px white;
    }
    
    .edit-box input,
    .edit-box textarea {
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0;
        border: 1px solid #ced4da;
    }
    
    .edit-box input,
    textarea,
    select {
        margin-left: 20px;
        min-width: 300px;
    }
    
    .container {
        display: flex;
        justify-content: center;
    }
    
    input[type="checkbox"] {
        min-width: 0px;
    }
    
    .edit-box .links {
        margin: 0 auto;
        width: fit-content;
        color: black;
    }
    
    .edit-box a {
        margin: 0 10px;
        color: white;
        text-decoration: underline;
    }
</style>

{% endblock %}